<h3 class="text-warning">Lista de administradores</h3><hr>
<a href="/admin/admin/add"><button class="btn btn-warning">Criar novo admin</button></a>

<div class="row mt-2"> 
{{#each usuarios}}
    <div class="col">
      <div class="card mt-2 bg-dark border border-2 border-warning rounded-3" style="width: 18rem; --bs-bg-opacity: .7;">
        <img src="/img/a.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h4 class="text-center text-warning position-relatine">nome: {{nome}}</h4>
          <small class="text-warning">E-mail: {{email}}</small><br>
          <small class="text-warning">Data de criação: {{date}}</small><hr>
          <div class="row">
            <div class="col">
              <a href="/admin/admin/edit/{{_id}}"><button class="btn btn-outline-warning text-warning">EDITAR</button></a>
            </div>
            <div class="col  align-self-end">
              <form action="/admin/admin/deletar" method="post">
                <input type="hidden" name="id" value="{{_id}}">
                <button type="submit" class="btn btn-outline-danger">DELETAR</button>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
{{else}}  
  </div>
  <h4 class="mt-3 text-warning">nenhum administrador encontrado</h4>
{{/each}}
    