{{#each erros}}
  <div class="alert alert-danger">{{texto}}</div>
{{else}}

{{/each}}
{{mesa}}
<h1 class="text-warning">EDITAR DE MESAS</h1>
<div class="card text-warning">
  <div class="card-body">
    <form action="/admin/mesas/edit" method="post">
      <input type="hidden" name="id" value="{{Mesa._id}}">
      <label for="numero">Número:</label>
        <input type="text" id="numero" name="numero" placeholder="Número da mesa" class="form-control" value="{{Mesa.numero}}">
      <label for="descricao">Descrição:</label>
        <input type="text" name="descricao" id="descricao" placeholder="Descricao da mesa" class="form-control" value="{{Mesa.descricao}}">
      <label for="valor">Valor:</label>
        <input type="valor" name="valor" id="valor" placeholder="Preço para agendar a mesa" class="form-control" value="{{Mesa.valor}}">
      <br>
      <button type="submit" class="btn btn-success">Editar nova mesa</button>
    </form>
  </div>
</div>